{% extends 'layout.html' %}

{% block title %}Beranda - Jasa Sewa Kamera Terbaik{% endblock %}

{% block content %}
    <div class="hero-section">
        <h1>Abadikan Momen Terbaikmu Tanpa Harus Membeli!</h1>
        <p>
            Kami menyediakan jasa penyewaan kamera Mirrorless, DSLR, hingga Action Cam terlengkap dengan harga terjangkau dan unit yang selalu prima.
        </p>
        <a href="/katalog" class="btn btn-primary btn-large">Lihat Katalog Kamera ➔</a>
    </div>
{% endblock %}